@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans&display=swap');

:root {
  --light: #F5F5F5;
  --lighter: #32CD32;
  --neutral: #1E90FF;
  --dark: #FF4500;
  --darker: #333333;
}

/*.unused {
  --light: #F5F5F5;
  --lighter: #32CD32;
  --neutral: #1E90FF;
  --dark: #FF4500;
  --darker: #333333;

  --light: #dfebdfff;
  --lighter: #a4cca3ff;
  --neutral: #88a688ff;
  --dark: #16b013ff;
  --darker: #4e944dff;
} */

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
