@import '../index.css';

.contact-container {
    background-color: var(--lighter);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-header {
    font-weight: bold;
}

.contact-form-container {
    background-color: var(--lighter);
    padding: 20px;
    height: 100vh;
}

.contact-form {
    background-color: var(--lighter);
}



