@import '../index.css';

* {
    text-align: center;
    font-family: monospace;
}

.home-container {
    background-color: var(--lighter);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home-heading {
    font-weight: bold;
}

.home-biotext {
    width: 40vw;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

.home-image {
    opacity: 0.9;
    height: 300px;
    width: 230px;
    border-radius: 5px;

}

@media only screen and (max-width: 767px) {

    .home-biotext {
        text-align: center;
        font-size: small;
        padding: 1px;
        width: 60vw;
    }

    .home-image {
        opacity: 0.9;
        height: 25vh;
        width: 40vw;
        border-radius: 5px;
    
    }
    
}