@import '../index.css';

.home-container {
    background-color: var(--lighter);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home-heading {
    font-weight: bold;
}

.home-biotext {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

.home-image {
    opacity: 0.9;
    height: 500px;
    width: 400px;
    border-radius: 5px;

}

@media only screen and (max-width: 767px) {

    .home-biotext {
        font-size: small;
        padding: 1px;
    }

    .home-image {
        opacity: 0.9;
        height: 30vh;
        width: 45vw;
        border-radius: 5px;
    
    }
    
}