@import '../index.css';

.nav-heading {
    color: var(--neutral);
}

.nav-container {
    background-color: var(--light);
}

.button-nav {
    opacity: 0.6;
    transition: 1s;
}
  
.button-nav:hover {
    background-color: var(--neutral);    
    opacity: 1;
}