@import '../index.css';

.projects-container {
    padding-top: 40px;
    background-color: var(--lighter);
    height: 100vh;
}

.carousel-text {
    background-color: var(--neutral);
    color: var(--light);
    opacity: 0.9;
}

.img-projects {
    opacity: 0.6;
    height: 50%;
    width: 50%;

}